adventure_works_dbt:
  target: mssql
  outputs:
    mssql:
      type: sqlserver
      driver: "{{ env_var('DBT_DRIVER', 'ODBC Driver 18 for SQL Server') }}"
      server: "{{ env_var('DBT_SERVER', '127.0.0.1') }}"
      port: "{{ env_var('DBT_PORT', '1433') | int }}"
      database: "{{ env_var('DBT_DATABASE', 'aw-olap') }}"
      schema: "{{ env_var('DBT_SCHEMA', 'main') }}"
      user: "{{ env_var('DBT_USER', 'sa') }}"
      password: "{{ env_var('DBT_PASSWORD') }}"
      encrypt: false
      trust_cert: true
      threads: "{{ env_var('DBT_THREADS', '4') | int }}"
