[sources.sql_database]
credentials = "mssql+pyodbc://sa:haslo@127.0.0.1:1433/AdventureWorks2014?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"

[destination.mssql.credentials]
database = "StagingDB"
username = "sa"
password = "haslo"
host = "127.0.0.1"
port = 1433
driver = "ODBC Driver 18 for SQL Server"

[destination.mssql.credentials.query]
TrustServerCertificate = "yes"
Encrypt = "no"